{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true // remove when eslint adds glob matching
  },
  "extends" : "airbnb",
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": 0, // remove when eslint adds glob matching
    "no-unused-expressions": 0, // remove when eslint adds glob matching
    "react/jsx-filename-extension": 0
  }
}
